{% assign slide_counter = slide_counter | plus: 2 %}
<div class="swiper-slide">
  <div class="slide_table px-md-4 px-3">
    <div class="slide_cell">
      <div class="slide_content text-left">
        <h2>{% t "Add your own Sliders" %}</h2>
        <a href="{{ store.url }}/admin/themes/options/{{ theme.id }}" class="btn btn-primary" title="{% t 'Add your own Sliders' %}">{% t 'Add your own Slides' %}</a>
      </div>
    </div>
  </div>
  <img src="//assets.jumpseller.com/public/placeholder/themes/mega/placeholder-1100x685.png" alt="{% t 'Add your own Slides' %}" width="1100" height="685" loading="lazy">
</div>
<div class="swiper-slide">
  <div class="slide_table px-md-4 px-3">
    <div class="slide_cell">
      <div class="slide_content text-center">
        <h2>{% t "Add your own Sliders" %}</h2>
        <a href="{{ store.url }}/admin/themes/options/{{ theme.id }}" class="btn btn-primary" title="{% t 'Add your own Sliders' %}">{% t 'Add your own Slides' %}</a>
      </div>
    </div>
  </div>
  <img src="//assets.jumpseller.com/public/placeholder/themes/mega/placeholder-1100x685.png" alt="{% t 'Add your own Slides' %}" width="1100" height="685" loading="lazy">
</div>
<div class="swiper-slide">
  <div class="slide_table px-md-4 px-3">
    <div class="slide_cell">
      <div class="slide_content text-right">
        <h2>{% t "Add your own Sliders" %}</h2>
        <a href="{{ store.url }}/admin/themes/options/{{ theme.id }}" class="btn btn-primary" title="{% t 'Add your own Sliders' %}">{% t 'Add your own Slides' %}</a>
      </div>
    </div>
  </div>
  <img src="//assets.jumpseller.com/public/placeholder/themes/mega/placeholder-1100x685.png" alt="{% t 'Add your own Slides' %}" width="1100" height="685" loading="lazy">
</div>
<div class="swiper-slide">
  <a href="{{ store.url }}/admin/themes/options/{{ theme.id }}"><img src="//assets.jumpseller.com/public/placeholder/themes/mega/placeholder-1100x685.png" alt="{% t 'Add your own Slides' %}" width="1100" height="685" loading="lazy"></a>
</div>
